<div class="container">
  <h1><%= @trip.title %></h1>
  <% if policy(@trip).create? %>
    <%= link_to 'Edit', edit_trip_path(@trip) %>
    <%= link_to 'Delete', trip_path(@trip), method: :delete, data: { confirm: 'Are you sure you want to delete this trip?' } %>
  <% end %>
  <p><%= sanitize @trip.description %></p>
  <p><%= @trip.destination %></p>
  <p><%= humanized_money_with_symbol(@trip.price) %></p>

  <h2><%= @trip.date_ranges.empty? ? '' : 'Dates' %></h2>
  <% @trip.date_ranges.each do |date_range| %>
    <div class="date-range-card">
      <p>from <%= date_range.start_date.strftime('%A %b %e, %Y') %> to <%= date_range.end_date.strftime('%A %b %e, %Y') %></p>
      <% if policy(date_range).create? %>
        <%= link_to 'Edit', edit_date_range_path(date_range) %>
        <%= link_to 'Delete', date_range_path(date_range), method: :delete,  data: { confirm: 'Are you sure you want to delete this date range?' } %>
      <% end %>
    </div>
    <hr>
  <% end %>

  <h2><%= @trip.activities.empty? ? '' : 'Activities' %></h2>
  <% @trip.activities.each do |activity| %>
    <div class="activity-header">
      <p><%= activity.title %></p>
      <% if policy(activity).create? %>
        <%= link_to 'Edit', edit_activity_path(activity) %>
        <%= link_to 'Delete', activity_path(activity), method: :delete, data: { confirm: 'Are you sure you want to delete this activity?' } %>
      <% end %>
    </div>
    <ul>
      <% activity.breakdowns.each do |breakdown| %>
        <li>
          <div class="breakdown-list-item">
            <p><%= breakdown.description %></p>
            <% if policy(breakdown).create? %>
              <%= link_to 'Edit', edit_breakdown_path(breakdown) %>
              <%= link_to 'Delete', breakdown_path(breakdown), method: :delete, data: { confirm: 'Are you sure you want to delete this breakdown?' } %>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
    <% if policy(@trip).create? %>
      <%= link_to 'Add details to your activity', new_activity_breakdown_path(activity), id: "new_breakdown_#{activity.id}", remote: true, data: { state: 'closed' } %>
    <% end %>
    <hr>
  <% end %>
  <% if policy(@trip).create? %>
    <%= render 'date_ranges/date_range_form', trip: @trip, date_range: @date_range %>
    <%= render 'activities/activity_form', trip: @trip, activity: @activity %>
  <% end %>
  <%= form_tag orders_path do %>
    <%= hidden_field_tag 'trip_id', @trip.id %>
    <%= submit_tag 'Book', class: 'btn btn-primary' %>
  <% end %>
</div>
